{% extends 'base.html.twig' %}

{% block body %}
    <span>Cześć </span>
    <span style="font-weight: 600;text-transform: uppercase">{{ name }}</span>
    <div>Masz pozdrowienia od:</div>
    {% if personNames is not empty %}
        {% for x in personNames %}
            <p>{{ x }}</p>
        {% endfor %}
    {% else %}
        <div>Nikt jeszcze nikogo nie pozdrawia, bo nie ma ludzi.</div>
    {% endif %}

    {% if randomText is defined %}
        <p>Lubie placki</p>
    {% endif %}

    {% if number is defined %}
        <p>Twoja szczęśliwa liczba to: {{ number }}</p>
        {% if number is divisible by (2) %}
            <p>{{ number }} to liczba parzysta</p>
        {% else %}
            <p>{{ number }} to liczba nie parzysta</p>
        {% endif %}

    {% endif %}
{% endblock %}