{% extends 'base.html.twig' %}

{% block body %}

    {#    path zajmuje się mapowaniem name z kontrolerów i wyciąga url'a#}

    {% if users is not empty %}
        {% for user in users %}
            <div>
                {{ user.id }}
                {{ user.name }}
                {{ user.surname }}
                <span>
                    <a href="{{ path('user_delete', {'id': user.id}) }}">Usuń</a>
                </span>
                <span>
                    <a href="{{ path('update_user', {'id': user.id}) }}">Edytuj</a>
                </span>
            </div>
        {% endfor %}
    {% else %}
        <div>Brak osób</div>
    {% endif %}

    <a href="{{ path('user_create') }}">Dodaj user'a</a>
    <a href="{{ path('category_create') }}">Dodaj kategorie</a>


{% endblock %}